header {
  background-color: #6495ed;
  color: white;
  font-weight: bold;
}

.roundedImage {
  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 90px;
  height: 90px;
}

.enLigne {
  display: inline-block;
}
